.contactContainer {
    @extend %main-container;

    .infoBox{
        @extend %content-container;
        p, p a {
            height: $line-height;
            text-align: center;
        }
        .contactInfo {
            @include flex-layout-row;
            .box {
                @extend %row-item;
                text-align: left;
            }
        }
        section {
            padding: $padding;
            @include flex-layout-row;
        }
    }
}