.courseContainer {
    @extend %main-container;
    h1 {
        @include flatten();
        color: $text-med;
        text-align: center;
        text-transform: uppercase;
        padding: rem(16) 0;
    }
    
    .courses {
        @extend %content-container;

        section {
            @extend %horizantol-card-holder;
        }
    }
}
