.form {
    input[type=text], input[type=email], select, textarea {
        width: 100%;
        padding: $padding;
        border: 1px dotted #ccc;
        border-radius: rem(4);
        resize: vertical;
        float: left;
        width: 75%;
    }

    label {
        padding: $half-padding;
        font-weight: bold;
        float: left;
        width: 25%;
    }
    
    .actions input {
        font-weight: bold;
        background-color: $bcit-blue;
        color: $text-light;
        padding: $half-padding;
        margin-top: $half-padding;
        border-radius: $border-radius;
        float: right;
        width: 25%;
    }
    
    .actions input:hover {
        background-color: rgba($bcit-blue, 0.9);
    }

    .select {
        margin: $padding;
        @extend %row-item;
        background-color: $bcit-blue;
        color: $text-light;
        width: inherit;
        border-radius: $border-radius;
        label {
            float: none;
        }
    }

    .formRow:after {
        content: "";
        display: table;
        clear: both;
    }

    @include mq($phoneLandscape) {
        input[type=text], input[type=email], select, textarea, label, .actions input {
            width: 100%;
        }
       
    }
}