header nav {
    $nav-height: rem(32);
    $nav-height-mobile: rem(40);
    background-color: $bcit-navy;
    width: 100%;
    ul {
        @include flatten(true);
        display: flex;
        justify-content: space-around;
        padding: 0 rem(10);
    }

    li {
        white-space: nowrap;
    }

    a {
        $transition: background-color 0.3s ease;
        padding: 0 rem(10);
        @include plain-link;
        font-weight: bold;
        color: $text-light;
        text-transform: uppercase;
        text-align: center;
        display: block;
        line-height: $nav-height;
        transition: $transition;
        #{$hover} {
            background-color: rgba($site-blue, 0.8);
            outline: none;
        }
    }
    a.current {
        background-color: rgba($bcit-blue, 0.8);
    }

    @include mq($tabletPortrait){
        max-height: 0;
        transition: max-height 0.3s ease;
        // display: none;
        overflow: hidden;
        $border: 1px solid $site-white;

        ul {
            display: block;
        }

        a {
            border-top: $border;
            line-height: $nav-height-mobile;
        }

        li:first-child a {
            border-top: none;
        }

        .show & {
            display: block;
            max-height: rem(300);
        }

    }

}