.overviewContainer {
    $half-padding: rem(16);
    $padding: rem(32);
    padding: $half-padding;
    text-align: justify;
    background-color: $site-gray;

    .overview{
        padding: $half-padding;
        margin-bottom: $half-padding;
        background-color: rgba($site-white, 0.6);
    }

    .requirements{
        padding: $half-padding;
        margin-bottom: $half-padding;
        background-color: rgba($site-white, 0.6);
        div {
            padding: $padding;
        }
    }

    .apply{
        padding: $half-padding;
        background-color: rgba($site-white, 0.6);
        div {
            padding: $padding;
        }
    }
}
