// Data Table styles 
.overviewTable {
    padding: rem(16);
    margin-bottom: $half-padding;

    // Table Border
    $table-border: 1px solid $bcit-navy;

    // Table Cell padding
    $cell-padding: 10px;

    // Table Styles
    width: $one-col;
    border: $table-border;
    
    td {
        text-align: center;
        padding: $cell-padding;
        border: $table-border;
    }

    caption {
        background-color: $bcit-blue;
        color: $text-light;
        padding: $cell-padding;
        font-size: $body-font;
        border-right: $table-border;
        border-left: $table-border;
        border-top: $table-border;
    }

    tbody {
        tr {
            td:nth-child(odd){
                text-align: left;
                background-color: $bcit-blue;
                color: $text-light;
            }
            td:nth-child(even){
                background-color: #DEEAEE;
            }
            &:hover {
                td:nth-child(odd){
                    background-color: rgba($bcit-blue, 0.9);
                }
                td:nth-child(even){
                    background-color: rgba($bcit-blue, 0.2);
                }
            }
        }
    }

    @include mq($phoneLandscape) {
        td {
            text-align: left;
        }
        
        tbody {
            tr {
                td:nth-child(odd){
                    background-color: $bcit-blue;
                }
                td:nth-child(even){
                    background-color: #DEEAEE;
                }
            }
            td {
                display: block;
                &:before {
                    display: inline-block;
                    margin-right: 10px;
                    font-weight: bold;
                }
            }    
        }          
    }
}