.overviewContainer {
    @extend %main-container;
    h1 {
        @include flatten();
        color: $text-med;
        text-align: center;
        text-transform: uppercase;
        padding: rem(16) 0;
    }

    .overview{
        @extend %content-container;
    }

    .requirements{
        @extend %content-container;
        div {
            padding: $padding;
        }
    }

    .apply{
        @extend %content-container;
        div {
            padding: $padding;
        }
    }
}
