.resourceContainer {
    @extend %main-container;
    h1 {
        @include flatten();
        color: $text-med;
        text-align: center;
        text-transform: uppercase;
        padding: rem(16) 0;
    }

    .infoBox {
        @extend %content-container;

        section {
            @extend %horizantol-card-holder;

            a {
                text-decoration: none;
            }
            a img {
                display: inline;
                vertical-align: middle;
                margin-right: rem(4);
            }
        }
    }
}