.resourceContainer {
    @extend %main-container;

    .infoBox {
        @extend %content-container;

        section {
            @extend %horizantol-card-holder;

            a {
                text-decoration: none;
            }
            a img {
                display: inline;
                vertical-align: middle;
                margin-right: rem(4);
            }
        }
    }
}