.schedule {
    padding: rem(16);
    background-color: $bg-lightgray;
    .view-toggle, .today-btn {
        width: rem(120);
        margin-right: rem(8);

        border: none;
        border-radius: rem(4);
        background-color: $bcit-blue;

        text-align: center;
        line-height: rem(40);
        color: $text-light;
        font-size: rem(16);
        font-weight: bold;

        cursor: pointer;
    }

    .to-top-btn {
        @include flatten();
        position: fixed;
        bottom: rem(30); 
        right: rem(30);
        z-index: 99;
        width: rem(48);
        height: rem(48);
        border: none;
        border-radius: rem(24);
        background-color: rgba($bcit-blue, 0.7);
        color: $site-white;
        text-transform: uppercase;
        font-weight: bold; 

        cursor: pointer;
    }

    .month {
        h2 {
            @include flatten();
            color: $text-med;
            text-align: center;
            padding: rem(16) 0;
        }

        .doW-label-container {
            display: flex;
    
            .doW-label {
                background-color: $bcit-blue;
                color: $text-light;
                text-align: center;
                font-weight: bold;
                border-right: $site-white solid 2px;
                flex: 1;
            }
            .doW-label:last-child {
                border-right: none;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: rem(135);
            grid-gap: 2px 2px;

            .grid-placeholder {
                // it looks better as empty blocks
                background-color: $site-white;
            }
            .day {
                position: relative;
                background-color: $site-white;
                padding: rem(16) rem(10);
                display: flex;
                flex-direction: column;
                font-size: rem(14);

                &.today:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-width: 0 rem(32) rem(32) 0;
                    border-style: solid;
                    border-color: $site-red $bg-lightgray;
                }

                h4, p {
                    @include flatten();
                    line-height: 1.4;
                }

                .dow {
                    display: none;
                }
                .date {
                    color: $bcit-blue;
                    font-weight: bold;
                    padding-bottom: rem(8);
                }

                &.today .date {
                    color: $site-red !important;
                }
                .course, .notes {
                    color: $text-med;
                }
                .instructor {
                    color: $bcit-blue;
                }
            }
        }
    }

    &.list-view {
        .view-toggle {
            margin-bottom: rem(16);
        }
        .month { 
            h2 {
                color: $text-light;
                background-color: $bcit-blue;
                text-align: start;
                padding: rem(8);
            }
    
            .doW-label-container {
                display: none;
            }
    
            .grid {
                display: flex;
                flex-direction: column;
    
                .grid-placeholder {
                    display: none;
                }
                .day {
                    padding: rem(6);
                    flex-direction: row;
                                      
                    &:nth-child(even) {
                        background-color: $bg-lightblue;
                    }
                    .dow {
                        display: block;
                        flex: 2;
                    }
                    .date {
                        color: $text-med;
                        font-weight: normal;
                        padding-bottom: 0;
                        flex: 3;
                    }
                    .course{
                        flex: 5;
                    } 
                    .notes {
                        display: none;
                    }
                    .instructor {
                        flex: 4;
                    }
                }

            }
        }
    }

    @include mq($tabletPortrait){
        &, &.list-view {         
            .view-toggle {
                display: none;
            }

            .today-btn{
                margin-bottom: rem(16);
            }
        
            .month {
                h2 {
                    color: $text-light;
                    background-color: $bcit-blue;
                    text-align: start;
                    padding: rem(6) rem(10);
                }
        
                .doW-label-container {
                    display: none;
                }
        
                .grid {
                    display: flex;
                    flex-direction: column;
        
                    .grid-placeholder {
                        display: none;
                    }

                    .day {
                        padding: rem(10);
                        display: flex;
                        flex-direction: column;
                        font-size: rem(14);

                        &:nth-child(even) {
                            background-color: $bg-lightblue;
                        }
                        .dow {
                            display: block;
                        }
                        .date {
                            color: $bcit-blue;
                            font-weight: bold;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}